h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-size: 1.5rem;
    color: white;
    height: 500px;
}

.description {
    display: flex;
}

.text-and-video {
    flex: 1;
}

.projects {
    flex: 1;
}

.welcome-line-1 {
    display: block;
    opacity: 1;
    animation: fade-out 5s ease forwards;
}

.welcome-line-2 {
    display: block;
    opacity: 0;
    animation: fade-in 5s ease forwards;
    animation-delay: 2.5s;
}

@keyframes fade-out {
    0%, 50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fade-in {
    0%, 45% {
        opacity: 0;
        transform: translateY(10px);
    }

    70%, 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}