.Logo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}


.menu {
    width: 200px;
    background-color: black;
}

.menu ul {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
    border-left: 3px solid blue;
}

#kurzbeschreibung {
    border-top: 3px solid grey;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}